.signup {
  width: 40%;
  height: 400px;
  margin: 0 auto;
  border: 2px solid rgba(255, 106, 13, 0.1);
  background-color: #181818;
  border-radius: 3px;
  box-sizing: border-box;
  h2 {
    color: #ffff;
    text-align: center;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    section {
      margin-top: 20px;
      max-width: 35%;
      height: 15%;
      border: none;
    }
    button {
      margin-top: 30px;
      min-width: 20%;
      cursor: pointer;
      background-color: #ffff;
      border: 3px solid rgba(255, 106, 13, 0.1);
      border-radius: 4px;
      &:hover {
        background-color: #202020;
        color: #ffff;
      }
    }
    p {
      margin-top: 25px;
    }
  }
}
@media (max-width: 500px) {
  .signup {
    width: 65%;
    section {
      max-width: 25%;
    }
  }
}
